/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* syntax highlighting (base16) */
$base00: #fafafa !default;
$base01: #eeeeee !default;
$base02: #dddddd !default;
$base03: #cccccc !default;
// Comment
$base04: #008000 !default;
// Punctuation
$base05: #000000 !default;
$base06: #bd63c5 !default;
// C
$base07: #008000 !default;
// Error
$base08: #f07178 !default;
// Numbers and escapes
$base09: #FF0000 !default;
// Type
$base0a: #2b91af !default;
// Generic
$base0b: #FF0000 !default;
// Operators
$base0c: #0000FF !default;
// Functions
$base0d: #000000 !default;
// Keyword
$base0e: #0000FF !default;
$base0f: #ff5370 !default;
